# backend/requirements.txt
fastapi
uvicorn[standard]
opencv-python-headless
ultralytics
numpy
tensorflow
mediapipe
scikit-learn
aiofiles
python-dotenv
pydantic
bentoml>=1.4
dvc[all]>=2.0.0
pymongo
python-dotenv
sqlalchemy
psycopg2-binary 